.subContainer {
  padding: 20px 0 40px;
}

.registerHeader {
  text-align: center;
}

.registerForm {
  padding: 40px 70px 40px;
  border: 2px solid rgb(182, 187, 196);
  border-radius: 10px;
}

.registerForm input {
  width: 230px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid rgb(182, 187, 196);
  font-size: 18px;
  padding: 10px 15px;
}

.errorText {
  height: 20px;
}

small,
.pre {
  padding: 0;
  margin: 0;
  max-width: 230px;
}

.textDanger {
  color: red;
}

.nameReg,
.emailReg,
.passwordReg,
.confirmPasswordReg {
  padding-bottom: 17px;
}

.regBtn {
  margin: 10px 0 0 50px;
  border-radius: 4px;
  background-color: rgb(224, 219, 191);
  color: black;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 80ms ease-in;
}

.regBtn:hover {
  background-color: rgb(226, 199, 154);
}

.regBtn:active {
  transform: scale(0.95);
}

.regBtn:focus {
  outline: none;
}

@media screen and (max-width: 520px) {
  .registerForm {
    text-align: center;
    padding: 10px 4px 10px 4px;
  }

  .regBtn {
    margin: 30px;
  }
}
