.logorss {
  width: 270px;
}

.logo__wrapper {
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.text {
  max-width: 700px;
}
